ENVIRONMENT=dev
HOST=0.0.0.0
PORT=8084
SUPERUSERS=[]
DRIVER=~fastapi+~aiohttp+~websockets
#NICKNAME=[""]
COMMAND_START=[""]
QQ_IS_SANDBOX=False
QQ_BOTS='
[
  {
    "id": "xxx",
    "token": "xxx",
    "secret": "xxx",
    "intent": {
      "guilds": true,
      "guild_members": true,
      "guild_messages": false,
      "guild_message_reactions": true,
      "direct_message": false,
      "open_forum_event": false,
      "audio_live_member": false,
      "c2c_group_at_messages": false,
      "interaction": false,
      "message_audit": true,
      "forum_event": false,
      "audio_action": false,
      "at_messages": true
    }
  }
]
'
PURIkONE_CLANBATTLE_SETTINGS='{"B": [["a", 1, 6000000, 8000000, 10000000, 12000000, 15000000], ["b", 4, 6000000, 8000000, 10000000, 12000000, 15000000], ["c", 11, 12000000, 14000000, 17000000, 19000000, 22000000], ["d", 31, 22000000, 23000000, 27000000, 29000000, 31000000], ["e", 39, 145000000, 150000000, 175000000, 195000000, 210000000]]}'